version: 2.1

orbs:
  node: circleci/node@5.0.0

jobs:
  run-cypress-tests:
    docker:
      - image: cypress/browsers:node16.14.0-chrome99-ff97
    working_directory: '~/repo'
    steps:
      - checkout
      - node/install:
          node-version: '16'
      - run:
          name: Install Cypress test dependencies
          command: npm ci
      - run:
          name: Run Cypress tests
          command: npm test --env testEnv=ci
      - store_artifacts:
          path: './cypress/results'
      - store_artifacts:
          path: './cypress/videos'
      - store_artifacts:
          path: './cypress/screenshots'

workflows:
  test:
    jobs:
      - run-cypress-tests
