version: 2.1

orbs:
  node: circleci/node@5.0.0

jobs:
  run-cypress-tests:
    machine:
      image: ubuntu-2004:202010-01
    working_directory: '~/repo'
    steps:
      - checkout
      - node/install:
          node-version: '16'
      - run:
          name: Install Cypress test dependencies
          command: npm ci
      - run:
          name: Run Cypress tests
          command: docker run -it -v $PWD:/e2e -w /e2e cypress/included:9.5.3 --browser chrome
      - store_artifacts:
          path: './cypress/results'
      - store_artifacts:
          path: './cypress/videos'
      - store_artifacts:
          path: './cypress/screenshots'

workflows:
  test:
    jobs:
      - run-cypress-tests
